<nav class="navbar fixed-top " style="background-color: black;">
    <a class="navbar-brand" href="#">
         <img src = "..\assets\320px-MarvelLogo.svg.png" width="141" height="57" >
     </a> 
     <div class="input-group mb-3">
        <input id="seach-text" type="text" class="form-control" placeholder="Digite parte do nome do personagem" aria-label="Digite parte do nome do personagem" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button (click) = "seachCharacterStartsWith()" class="btn btn-primary" type="button" >Buscar</button>
        </div>
      </div>
</nav>

